body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
}
footer {
    border-top: 1px solid gray;
    padding-top: 0.5rem;
}
button {
    background: none;
    border: 1px solid black;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
button span {
    font-weight: bold;
    font-size: 1.2rem;
}
.has {
    background: rgba(48, 255, 49, 0.58);
}
[data-filter='0'] > .has { display: none; }
[data-filter='1'] > :not(.has) { display: none; }
